
/* App.css */
#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
}

/* App.css */

:root {
  --bg: rgb(3, 13, 41);
  --bg-2: rgba(184, 243, 255, 0.3);
  --txt: rgb(238, 254, 253);
  --txt-2: rgb(110, 243, 255);
  --txt-3: rgb(74, 255, 252);
  --txt-4: rgb(206, 224, 223);
  --border: rgb(110, 243, 255);
  --shadow: rgb(34, 215, 255);
  --glass: rgba(185, 207, 238, 0.1);
  --glass-border: rgba(187, 224, 255, 0.3);
}

[data-theme='light'] {
  --bg: rgb(225, 237, 250);
  --bg-2: rgba(164, 174, 176, 0.7);
  --txt: rgb(17, 18, 18);
  --txt-2: rgb(12, 30, 31);
  --txt-3: rgb(0, 187, 255);
  --txt-4: rgb(58, 59, 59);
  --border: rgb(136, 140, 141);
  --shadow: rgba(255, 255, 255, 0);
  --glass: rgba(165, 184, 206, 0.785);
  --glass-border: rgba(180, 221, 255, 0.74);
}

[data-theme='dark'] {
  --bg: rgb(3, 13, 41);
  --bg-2: rgba(184, 243, 255, 0.3);
  --txt: rgb(238, 254, 253);
  --txt-2: rgb(110, 243, 255);
  --txt-3: rgb(74, 255, 252);
  --txt-4: rgb(206, 224, 223);
  --border: rgb(110, 243, 255);
  --shadow: rgb(34, 215, 255);
  --glass: rgba(185, 207, 238, 0.1);
  --glass-border: rgba(187, 224, 255, 0.3);
}




